
.layui-form-item {
    margin-bottom: 10px;}

.layui-btn{
    width:60px;padding:0px;}


.layui-btn-primary{background-color: #fff;color: #0A8DFF;border: 1px solid #86C0FF}
.layui-btn-primary:hover{background-color:#F6FCFF;color: #0A8DFF;border: 1px solid #86C0FF;}
.layui-input-block {
    margin-left:110px;
    min-height: 30px;
}
.layui-form-label{width: 80px; padding-right: 0;color: #616F81;}
.layui-form-checkbox[lay-skin="primary"] span {

    color: #616F81;
}
.layui-form-checkbox[lay-skin="primary"] {padding-left: 22px}

.layui-transfer-search{border: none}


.setting_left{background-color: #fff;padding: 20px 30px 10px 10px;
    border-radius:8px;
}

.setting_right {
    margin:0px 0px 0 40px;
}

.setting_right table.layui-table{
    border-radius:8px;  /* */

    /*border:1px solid rgba(241,241,241,1);*/
}
.setting_right table.layui-table th:first-child{ border-top-left-radius: 8px;
}
.setting_right table.layui-table th:last-child{  border-top-right-radius: 8px;}

.operation{height: 30px; margin: 10px 0;}

/***********修改/新增/查询按钮************/
.btn_panel{ margin: 5px 0px 20px 0px;height: 40px;}
.btn_base{padding: 0 10px;
    height:28px;
    background:rgba(255,255,255,1); border:1px solid rgba(201,206,210,1); color: #C9CED2;
    border-radius:3px;
    margin-right: 10px;min-width: 70px;
}


.btn_base:hover,.btn_base.btn_add:hover{background:rgba(246,252,255,1);
    border:1px solid;
    border-image:linear-gradient(270deg, rgba(201,224,255,1), rgba(225,210,255,1)) 1 1;color: #75A8FD}
.btn_base.active,.btn_base.btn_add.active{background:linear-gradient(90deg,rgba(250,87,78,1) 0%,rgba(252,110,49,1) 100%);
    box-shadow:2px 4px 8px rgba(35,39,51,0.3);
    border:1px solid #FA5B39;color: #FFF}
.btn_base .icon{width:13px;
    height:14px; margin-right: 5px; }
.btn_search2 .layui-icon{margin-right: 3px;}
.btn_search .icon{background-position: -34px -1087px;}
.btn_search:hover .icon{background-position: -360px -1087px;}
.btn_search.active .icon{background-position: -684px -1087px;}

.btn_edit .icon{background-position: -112px -1087px;}
.btn_edit:hover .icon{background-position: -438px -1087px;}
.btn_edit.active .icon{background-position: -764px -1087px;}
.btn_base.btn_add{background:rgba(201,206,210,1);color: #fff; margin-right: 0px;}
.btn_add .icon{background-position: -191px -1087px;}
.btn_base.btn_add:hover .icon{background-position: -517px -1087px;}
.btn_base.btn_add.active .icon{background-position: -191px -1087px;}

.btn_delete:hover{  border:1px solid #FFB975;color:#FFB976; background-color: #FFFAF8;}
.btn_delete .icon{background-position: -271px -1087px;}
.btn_delete:hover .icon{background-position: -604px -1087px;}
.btn_delete.active .icon{background-position: -928px -1086px;}
.btn_delete.active:hover{color: #fff;}

.btn_adds .icon{background-position: -293px -1087px;}
.btn_adds:hover .icon{background-position: -626px -1087px;}
.btn_adds.active .icon{background-position: -950px -1086px;}

.btn_base2{ height:28px;padding: 0 10px;  border-radius:3px;
    margin-right: 10px;color: #fff;}




.padding_l{padding-left:10px;}
.padding_r{padding-right:10px;}

.table_height .layui-table th, .table_height .layui-table th .layui-table-cell {height: 40px; line-height: 20px;text-align: center;}
.table_edit{ margin: 20px auto 20px auto;}
.table_edit tr{height: 30px;border-bottom: 1px solid #d2d2d2}
.table_edit td{height: 30px;color: #616F81}
.table_edit td:first-child{color: #99ABB9;padding-left:20px;}
.table_edit td:nth-child(2){width: 35%;text-align: right}
.table_edit td:last-child{text-align: right;padding-right:20px;}

.table_h_padding_lr tr:hover td{padding: 9px 15px !important;}

.div_operation_panel{}
.div_operation_panel .layui-input{ max-width: 100px;}

.div_operation_panel .ddl_operation{ margin-right: 10px;width: 40px !important;}
.div_operation_panel .layui-form-select{margin-right: 10px;}
.div_operation_panel .layui-form-select .layui-input{ width: 50px;padding-left: 10px;padding-right: 5px; color: #FF6D2D}
.div_operation_panel  .layui-form-checkbox{
    margin-top:0px !important;
}
.div_operation_panel .icon{background-position: -72px -221px; width: 25px;height: 25px;cursor: pointer}

.height_100{height: 100%}
.overflow_hidden{overflow: hidden}
.left_overflow{height:100%;
    overflow-y: auto;
;}
.overflow_x{overflow-x: scroll;}
.layui_label{width: 80px; text-align: right;display: inline-block;padding: 5px 15px;}
.layui_label{width: 80px; text-align: right;}
.layui_input_panel{}
.layui_input_panel .layui-input{max-width: 82px;}
.layui-form-label{ text-align: center}
.layui_input_panel .layui-input:first-child{margin-right: 10px;}

.margin_r_10{margin-right: 10px !important;}
tr.title td{ margin-top: -1px !important;}
tr.title td,tr.title:hover,tr.title:hover td{background-color: #F2F9FF !important;padding: 0px 15px !important;color: #0A8DFF; border: none !important}

.layui-table tbody tr.tr_child:hover td {
    background-color: #EAFFFF !important;padding: 9px 15px !important;
}

.icon_arrow{background-position: -35px -671px; width: 30px; height: 30px;cursor: pointer;}

tr.tr_child td,tr.tr_child:hover,tr.tr_child:hover td{background-color: #fff !important;}
tr.tr_child td{border-bottom: 1px dotted #D8D8D8 }
tr.tr_child td:first-child{border-bottom: 0;}
tr.tr_child:nth-last-of-type(1) td{border-bottom: 0;}

.icon_copy{background-position: -78px -226px; width: 15px; height: 15px; margin-left: 8px;}
.layui-form-label  .layui-form-checkbox[lay-skin="primary"] {
    margin-top: 0px !important;
}
.layui-form-label  .layui-form-checkbox[lay-skin="primary"] i{top:0px !important;}
.table_hps tbody tr:hover td{padding: 9px 15px }
.table_hps.layui-table-click td,.table_hps.layui-table tr:hover td,.table_hps.layui-table-hover td{padding: 9px 15px !important;}

.table_fjm th,.table_fjm td{width: 140px;}
#tab_fjm+.layui-table-box .layui-table-header .layui-table .layui-table-cell{cursor: pointer}

.setting_left .layui-form-label{width: 70px;text-align: right;padding: 5px;}
.setting_left .layui-input-block{margin-left: 90px;}

.listInfo{margin: 0px 10px 10px 30px;}

.popup_box_1 .layui-layer.layui-layer-page{width:780px !important;}
.popup_box_1 .layui-form-label{width: 70px;text-align: right;padding-right: 5px}
.popup_box_1 .layui-input-block{margin-left: 90px;}
.popup_box_1 .layui-table-box{ margin-left: 15px;}
.layui-form-item-xs  .layui-form-label{width: 50px;}
.layui-form-item-xs .layui-input-block{margin-left: 70px;}
.layui-form-item-sm  .layui-form-label{width: 60px;}
.layui-form-item-sm .layui-input-block{margin-left: 80px;}

/****订单信息***/
.order_info span{ padding: 5px 10px 5px 0px; margin:0 15px 10px 0;
    float: left;}
.order_info span em{ display: inline-block;width: 70px;  text-align: justify;
    text-align-last: justify; margin-right: 6px;}

.order_left{
    width:calc(100% - 160px);}
.order_right{
    float: left;
}

.order_right{width: 160px;float: left;}
.order_btn_panel p{padding: 8px 0 5px 10px}
.order_btn_panel .btn_base,.order_btn_panel .btn_base:hover{width:80px;
    height:30px;
    background:rgba(88,117,155,1);
    border-radius:3px;font-size: 12px;color: #fff;}

.tab_border_radius .layui-table{width: 100% !important;}
.tab_border_radius .layui-table tbody tr:last-child,
.tab_border_radius .layui-table tbody tr:last-child td:last-child,
.tab_border_radius .layui-table tbody tr:last-child td:first-child{border-bottom-right-radius: 0px;border-bottom-left-radius: 0px}
.table_total_panel{background-color: #fff;  width: 100% ;padding: 22px 0px; border-bottom-right-radius: 8px;border-bottom-left-radius: 8px}
.table_total{

    width: 90%; margin: 0px auto;
    height:40px;
    background:rgba(255,247,244,1);
    box-shadow:0px 10px 10px -8px rgba(127,129,133,0.5);
    opacity:0.55;
    border:1px solid rgba(255,101,59,1);}

.table_total>div{ border-right: 1px solid #F0D1C9}
.table_total>div:last-child{border: none}